/.metadata/
/.recommenders/
.DS_Store
Client/logs/*
Client/.gitignore
Server/.gitignore
Client/client_config.json
Server/server_config.json
LogControllerManager/src/manager/ActionListeners.java
LogControllerManager/src/manager/DatabaseComm.java
Client/logs/*
